@import './customs';
@import './fonts';
@import './mixins';
@import './typography';

@include reset;

html,
body {
  @include font-base;

  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
.h1 {
  @include font-h1;
}

h2,
.h2 {
  @include font-h2;
}

h3,
.h3 {
  @include font-h3;
}
